.activity {
  margin-top: 20px;

  // .activity__card
  &__card {
    max-width: 730px;
    min-height: 322px;
    margin-top: 16px;
    padding: 28px 30px 28px 33px;
    color: #718ebf;
    fill: #718ebf;
    font-size: 13px;
  }

  // .activity__legend-list
  &__legend-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
  }
  // .activity__legend-item
  &__legend-item {
    display: flex;
    align-items: center;
  }
  // .activity__dot
  &__dot {
    display: inline-block;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    flex-shrink: 0;

    // .activity__dot--deposit
    &--deposit {
      background: var(--chart-deposit-color);
    }

    // .activity__dot--withdraw
    &--withdraw {
      background: var(--chart-withdraw-color);
    }
  }

  // .activity__chart
  &__chart {
    width: 100%;
    max-width: 667px; // 667
    margin-top: 22px;
  }
}
