:root {
  // =========== Test BG Colors ===========
  --test-bg-color: background-color: rgba(164, 222, 164, 0.57);

  // =========== Global Colors ===========
  --primary: #feaa09;
  --main: #343c6a;
  --main-white-color: #fff;
  --accent-color: #2d60ff;
  --secondery: #fe5c73;
  --bg-color: #f5f7fa;
  --chart-deposit-color: #16dbcc;
  --chart-withdraw-color: #1814f3;
  --color-muted: #718ebf;
  --active-bar-hover-bg: #b6bdca71;

  // =========== Charts Colors ===========

  // Тема графиков статистики расходов (pie-chart)
  --chart-entertainment: var(--main);
  --chart-bill: #fc7900;
  --chart-others: #1814f3;
  --chart-investment: #fa00ff;
  --pie-chart-text-color: var(--main-white-color);
  --pie-chart-stroke-color: var(--main-white-color);

  // Quick Transfer Colors
  --user-name-color: #232323;
  --form-input-bg-color: #edf1f7;
  --btn-bg-color: #1814f3;

  // =========== Fonts ===========
  --font-main: 'Inter', sans-serif;
  --font-main-svg-text: 'InterStatic', sans-serif;
  --font-secondary: 'Lato', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

// Inter Regular 400
// Inter Medium 500
// Inter Semi Bold 600
// Inter Bold 700
// Lato Semibold 600
// Lato Regular 400
// Roboto Medium 500
