:root {
  // Colors
  --primari: #feaa09;
  --main: #343c6a;
  --accent-color: #2d60ff;
  --secondery: #fe5c73;
  --bg-color: #f5f7fa;

  // Fonts
  --font-main: 'Inter', sans-serif;
  --font-secondary: 'Lato', sans-serif;
  --font-accent: 'Montserrat', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

// Inter Regular
// Inter Medium
// Inter Semi Bold
// Lato Semibold
// Lato Regular
// Mont Heavy DEMO
// Inter Bold
// Roboto Medium
