.cards {
  max-width: 730px;

  // .cards__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .cards__btn
  &__btn {
    font-weight: 600;
    font-size: 17px;
    text-align: right;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
