.cards {
  max-width: 730px;
  margin: 24px 0;
  // .cards__header

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main);
    margin-bottom: 20px;
  }

  // .cards__title

  &__title {
    font-weight: 600;
    font-size: 22px;
  }

  // .cards__btn

  &__btn {
    font-weight: 600;
    font-size: 17px;
    text-align: right;
  }

  // cards__wrapper
  &__wrapper {
    display: flex;
    gap: 30px;
  }
}
