.overview {
  // overview__row
  &__row {
    display: grid;
    gap: 30px;
    margin-top: 24px;
  }
  //.overview__row-top
  &__row-top {
    grid-template-columns: 1fr 350px;
  }
  //.overview__row-middle
  &__row-middle {
    grid-template-columns: 1fr 350px;
  }
  //.overview__row-
  &__row-bottom {
    grid-template-columns: 1fr 635px;
  }
}
