.overview {
  // .overview__cards-row
  &__cards-row {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 30px;
    margin-top: 24px;
  }

  &__charts-row {
    display: grid;
    grid-template-columns: 1fr 350px;
    margin-top: 24px;
  }
}
