.user-card {
  // user-card__link
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 97px;
    &--active {
      .user-card__name,
      .user-card__role {
        font-weight: 700;
      }
    }
  }

  // .user-card__img
  &__img {
    border-radius: 50%;
    margin-bottom: 15px;
    user-select: none;
  }

  // .user-card__name
  &__name {
    font-size: 16px;
    color: var(--user-name-color);
    margin-bottom: 5px;
  }

  // .user-card__role
  &__role {
    font-size: 15px;
    color: var(--color-muted);
  }

  &__name,
  &__role {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
