.balance {
  // .balance__card
  // .balance__area-chart
  &__area-chart {
    width: 100%;
    max-width: 635px;
    max-height: 276px;
    aspect-ratio: 1.618;
    margin: 0;
    padding: 30px 25px 20px 0;
  }

  // .balance__cartesian-grid
  &__cartesian-grid {
    stroke: var(--balance-history-cartesian-grid-color);
  }
}
