.bank-card {
  width: 350px;
  font-family: var(--font-secondary);

  &__header {
    padding: 24px 24px 35px 26px;
  }

  &--dark {
    color: #fff;
    background: linear-gradient(
      107.38deg,
      #4c49ed 2.35%,
      #0a06f4 101.08%
    );
  }

  &--light {
    border: 1px solid #dfeaf2;
    .bank-card__label {
      color: #718ebf;
    }

    .bank-card__footer {
      border-top: 1px solid #dfeaf2;
      margin-top: -1px;
    }
  }

  // .bank-card__top
  &__top {
    display: flex;
    justify-content: space-between;
    height: 38px;
    margin-bottom: 33px;
  }

  &__balance {
    display: flex;
    flex-direction: column;
  }

  // .bank-card__label
  &__label {
    font-size: 12px;
    line-height: 1.2;
    // bank-card__label--info
    &--info {
      color: rgba(255, 255, 255, 0.7);
    }
  }
  // bank-card__balance-value
  &__balance-value {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
  }

  &__chip {
    // height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .bank-card__bottom
  &__bottom {
    display: flex;
    align-items: center;
    height: 35px;
  }

  // .bank-card__info
  &__info {
    display: flex;
    column-gap: 67px;
  }

  // .bank-card__info-value
  &__info-value {
    font-weight: 600;
    font-size: 15px;
    margin-top: 3px;
  }

  // .bank-card__footer
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 25px 25px;
    padding: 20px 20px 20px 26px;

    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &__number {
    font-weight: 600;
    font-size: 22px;
  }
}
