@use './styles/vars';
@use './styles/reset';

body {
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 400;
}

.main {
  background: #f5f7fa;
}

.title {
  font-weight: 600;
  font-size: 28px;
  color: var(--main);
  margin-right: 15px;
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
