@use './styles/reset';
@use './styles/fonts';
@use './styles/vars';

// "Скрывает элемент визуально, оставляя его доступным для скринридеров (A11y)"
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
// Для отключения стрелок в input (стандартное поведение браузера)
/* Для Chrome, Safari, Edge и Opera */
input.no-arrows::-webkit-outer-spin-button,
input.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для Firefox */
input.no-arrows {
  -moz-appearance: textfield;
  appearance: textfield;
}

body {
  font-family: var(--font-main);
  color: var(--main);
  font-size: 18px;
  font-weight: 400;
}

.main {
  background: #f5f7fa;
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.widget-block {
  border-radius: 25px;
  background: #fff;
  margin-top: 20px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  margin-right: 15px;
}

.section-title {
  font-weight: 600;
  font-size: 22px;
}
