@use './styles/reset';
@use './styles/fonts';
@use './styles/vars';

body {
  font-family: var(--font-main);
  color: var(--main);
  font-size: 18px;
  font-weight: 400;
}

.main {
  background: #f5f7fa;
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.widget-block {
  border-radius: 25px;
  background: #fff;
}

.title {
  font-weight: 600;
  font-size: 28px;
  margin-right: 15px;
}

.section-title {
  font-weight: 600;
  font-size: 22px;
}
